package components

import (
	"github.com/m4tthewde/blunt/tmdb"
	"fmt"
)

type CrewCredit struct {
	Id            int64  
	OriginalTitle string 
	PosterPath    string 
	ReleaseDate   string 
	Popularity    float64
	Jobs          []string
}

templ Person(peopleResponse tmdb.PeopleResponse, castCredits []tmdb.CastCredit, crewCredits []CrewCredit) {
	<html>
		@Home()
		@PersonDetails(peopleResponse)
		if peopleResponse.KnownForDepartment == "Acting" {
			@CastCredits(castCredits)
			<hr>
			@CrewCredits(crewCredits)
		} else {
			@CrewCredits(crewCredits)
			<hr>
			@CastCredits(castCredits)
		}
	</html>
}

templ PersonDetails(peopleResponse tmdb.PeopleResponse) {
	<h1 style="margin-top: 0px; text-align: center;">{ peopleResponse.Name }</h1>
	<div style="display: grid; align-items: start; justify-content: start; margin: auto; width: 50%;">
		<img src={ tmdb.BuildPosterPath(peopleResponse.ProfilePath) } width="180" height="270" style="grid-column-start: 1; padding-right: 10px;">
		<div style="grid-column-start: 2;">
			<div style="display: grid; align-items: start; justify-content: start;">
				if peopleResponse.Birthday != "" {
					<span style="grid-column-start: 1; padding-right: 5px; font-weight: bold;">Birthday:</span>
					<span style="grid-column-start: 2;">{ peopleResponse.Birthday }</span>
				}
				if peopleResponse.Deathday != "" {
					<span style="grid-column-start: 1; padding-right: 5px; font-weight: bold;">Deathday:</span>
					<span style="grid-column-start: 2;">{ peopleResponse.Deathday }</span>
				}
				if peopleResponse.PlaceOfBirth != "" {
					<span style="grid-column-start: 1; padding-right: 5px; font-weight: bold;">Place of birth:</span>
					<span style="grid-column-start: 2;">{ peopleResponse.PlaceOfBirth }</span>
				}
				if peopleResponse.KnownForDepartment != "" {
					<span style="grid-column-start: 1; padding-right: 5px; font-weight: bold;">Known for:</span>
					<span style="grid-column-start: 2;">{ peopleResponse.KnownForDepartment }</span>
				}
				if peopleResponse.Homepage != "" {
					<span style="grid-column-start: 1; padding-right: 5px; font-weight: bold;">Homepage:</span>
					<a style="grid-column-start: 2;" href={ peopleResponse.Homepage } target="_blank">{ peopleResponse.Homepage }</a>
				}
			</div>
			if peopleResponse.Biography != "" {
				<details>
					<summary>Biography</summary>
					<p>{ peopleResponse.Biography }</p>
				</details>
			}
		</div>
	</div>
}

templ CastCredits(castCredits []tmdb.CastCredit) {
	<style>
		.castCredit:hover {
			background-color: #e6f3ff;
		}
	</style>

	<h1 style="text-align: center;">Cast Credits({ len(castCredits) })</h1>
	<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 1rem;">
		for _, credit := range castCredits {
			<a href={ fmt.Sprintf("/movie/%d", credit.Id) } class="castCredit" style="display: grid; justify-items: center; text-decoration: none; color: inherit; align-content: start;">
				<img src={ tmdb.BuildPosterPath(credit.PosterPath) } width="120" height="180" style="padding-right: 10px;">
				<span style="text-align: center;">{ credit.OriginalTitle }</span>
				<span style="text-align: center; color: grey;">{ credit.Character }</span>
				<span style="color: grey">{ tmdb.GetReleaseYear(credit.ReleaseDate) }</span>
			</a>
		}		
	</div>
}

templ CrewCredits(crewCredits []CrewCredit) {
	<style>
		.crewCredit:hover {
			background-color: #e6f3ff;
		}
	</style>

	<h1 style="text-align: center;">Crew Credits({ len(crewCredits) })</h1>
	<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 1rem;">
		for _, credit := range crewCredits {
			<a href={ fmt.Sprintf("/movie/%d", credit.Id) } class="crewCredit" style="display: grid; justify-items: center; text-decoration: none; color: inherit; align-content: start;">
				<img src={ tmdb.BuildPosterPath(credit.PosterPath) } width="120" height="180" style="padding-right: 10px;">
				<span style="text-align: center;">{ credit.OriginalTitle }</span>
				<span style="color: grey; text-align: center;">
						for i, job := range credit.Jobs {
							if i != len(credit.Jobs) - 1 {
								{job}, 
							} else {
								{job}
							}
						}
				</span>
				<span style="color: grey; text-align: center;">{ tmdb.GetReleaseYear(credit.ReleaseDate) }</span>
			</a>
		}		
	</div>
}